<html>
    <head>
        <title>Blog</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/css/app.css">    
        <body>
                <div class="ui inverted menu">
                    <div class="ui container">
                        <div class="header item"><i class="gg icon"></i>Blog site</div>
                        <a href="/blog" class="blue item">Home</a>
                        <a href="/blog/new" class="item">New Post</a>
                    </div>
                </div>            
